* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}

body {
    color: darkgrey
}

nav {
    width: 100%;
    position: sticky;
    background-color: white;
    box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 50px;
    margin: 1em 2em;
}

nav .user-container {
    margin: 1em 2em;
    color: rgb(87, 202, 247)
}

.container {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image img {
    width: 100%;
    margin-bottom: 1em;
}

.properties {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 180px;
    margin: .5em;
    border-radius: 15px;
    padding: .7em;
    box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
}

.card img {
    margin-block: .3em;
    width: 150px;
    height: 120px;
    object-fit: cover;
}

footer {
    width: 100%;
    background-color: lightskyblue;
    text-align: center;
    padding: 1.5em;
    color: white;
}

.review-card {
    padding: .5em;
    text-align: center;
}

.reviews {
    display: flex;
    padding: 10px;
}

.break {
    height: 1px;
    width: 90%;
    background-color: rgb(87, 202, 247);
    margin-bottom: .5em;
}

button {
    padding: .4em 1em;
    border-radius: 5px;
    border: 1px solid rgb(87, 202, 247);
    color: rgb(87, 202, 247);
    margin-top: 1em;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: skyblue;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}